@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --Primary-brand-color: #1919ed;
  --logo-font: 'Space Mono', cursive, Helvetica;
  --header-background-color: #9797a5;
}


header {
  padding-left: 10px;
  color: var(--Primary-brand-color);
  align-items: center;
  font-family: var(--logo-font);
  background-color: var(--header-background-color);
}